.container {
  display: none;
  position: absolute;
  top: 150px;
  left: 500px;
  right: 100px;
  bottom: 0;
  z-index: 3;
}

.content {
  border-radius: 10px;
  background-color: rgb(101, 101, 101);
  color: white;
  padding: 10px;
  width: 500px;
  height: auto;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 5;
}

.space {
  margin-top: 30px;
}

.maindiv {
  height: 500px;
  width: 500px;
  position: absolute;
  margin-left: 50px;
  background-color: greenyellow;
}

.line {
  height: 5px;
  width: 100%;
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Center horizontally */
  padding: 20px;
}

.left-half,
.right-half {
  width: 100%; /* Occupy full width */
}

.left-half table,
.right-half table {
  width: 100%;
  margin-bottom: 20px; /* Add spacing between tables */
}
.susdiv {
  justify-content: center;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c82333;
}

.right-half {
  margin-top: auto; /* Add this line */
  background-color: #f2f2f2; /* Add this line */
  padding: 20px; /* Add this line */
  border-radius: 5px; /* Add this line */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line */
  margin-top: 120px;
}

.left-half {
  margin-top: auto; /* Add this line */
  background-color: #f2f2f2; /* Add this line */
  padding: 20px; /* Add this line */
  border-radius: 5px; /* Add this line */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line */
}
