.maindiv{
    height: 500px;
    width: 500px;
    position: absolute;
    margin-left:50px;
    
    background-color: greenyellow;
    
}

.line{
    height: 5px;
    width: 100%;
    background-color: black;
}


